<!--In diesem wird der Menüplan erstellt mit den Formatierungen--->
{% extends "base.html" %} {% block title %}Menü{% endblock %} {% block content
  %}
  <form method="POST">
  </form>
 
  <html>
    <head>
    <title> Menüplan KW 30</title>
    </head>
  <body>
    <h1> Menü Karte KW 30</h1>
    <br />
    <strong> Vorspeise </strong> <br />
    <p> Gefüllte Champignons <br />
    <strong> Salat </strong> <br />
    <p> Spargel und Tomaten in Basilikum-Vinaigrette/p> <br />
        <strong> Hauptgericht </strong> <br />
    <p> Cordon Bleu <p>
         <strong> Nachspeise </strong> <br />
    <p> Tiramisu </p>
         <strong> Getränke </strong> <br />
    <p> Kaffee, Tee, Wein <br />
    

    <br /> 
    <br />        
    <strong> Optional </strong> <br />
       <a href="https://en.door8.at/">Besuche unser zweites Restaurant hier</a> <br />
   
    </body>
    </html>
    {% endblock %}